.home-page-header {
  position: sticky;
}
.notification-container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding-block: 8px;
  position: relative;
}

.ntf-text {
  font-size: 14px;
  font-family: var(--secondary-ff);
  font-weight: var(--semi-bold-fw);
  line-height: 24px;
}
.ntf-cross-icon-div {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 10px;
}
