:root {
  --primary-ff: "Poppins", serif;
  --secondary-ff: "Inter", serif;
  --thin-fw: 100;
  --extra-light-fw: 200;
  --light-fw: 300;
  --normal-fw: 400;
  --medium-fw: 500;
  --semi-bold-fw: 600;
  --bold-fw: 700;
  --extra-bold-fw: 800;
  --black-fw: 900;
}

/* Value	Common weight name
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light *
400	Normal *
500	Medium *
600	Semi Bold (Demi Bold)
700	Bold *
800	Extra Bold (Ultra Bold)
900	Black (Heavy) */

* {
  margin: 0;
  padding: 0;
}
